<div class="container-fluid" style="width:45rem;padding-top: 240px;">
<h1> {{infoList}} </h1>
    <!-- <table class="table table-success table-striped">
<thead>
</thead>
<tbody>
    <tr>
    <th>
        team rank
    </th> -->
    <!-- <td class="active">{{infoList.rank}}</td>
    </tr>
    <tr>
        <th>
            points
        </th>
        <td class="active">{{infoList.points}}</td>
        </tr>
        <tr>
        <th>
               games won
        </th>
        <td class="active">{{infoList.gamesWon}}</td>
        </tr>
        <tr>
        <th>
                games lost
        </th>
       <td class="active">{{infoList.gamesLost}}</td>
       </tr>
       <tr>
        <th>
            gmaes drawed
        </th>
        <td class="active">{{infoList.gamesDrawed}}</td>
        </tr>   
        <tr>
            <th>
                trophies
            </th>
            <td class="active">{{infoList.trophies}}</td>
            </tr>
</tbody>
</table> -->
</div>