<div class="container"  >
<div class="card text-bg-light mb-3" style="max-width: 18rem;padding: 70px ;margin-top: 150px  ;margin-left: 500px ;">
<nav class="accordion-button" style="align-items: center;">

    <ul class="nav flex-column" style="align-items: center;">
    <br>
        <a  [routerLink]="['/team']" class="nav-link" style="background-color: rgb(100, 245, 100);" routerLinkActive="router-link-active" > Team info</a>
<br>
    <a [routerLink]="['/players']" class="nav-link" style="background-color: rgb(100, 245, 100);" routerLinkActive="router-link-active"  > Players info</a>
<br>
    <a [routerLink]="['/calender']" class="nav-link" style="background-color:  rgb(100, 245, 100)" routerLinkActive="router-link-active" > Team calender</a>
   </ul>
</nav>
</div>
</div>
<meta name="viewport" content="width=device-width, initial-scale=1.0">